.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 80vh; */
  text-align: center;
}

body {
  background-color: #f4f4f9; 
  color: #333;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 1.4;
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

p, h1, h2, h3, h4, h5, h6 {
  /* margin: 0 0 10px 0; */
  padding: 0;
}

h2 {
  color: #f15438;
  /* color: #7437ca; */
  /* color: #3700B3; */
}

img {
  width: 50%;
  max-width: 300px; /* Ensures the image does not expand too much */
  padding: 10px 0;
}

button {
  background-color: #7437ca;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 2;
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  margin: 20px 0 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #3700B3;
}

button:disabled {
  background-color: #BB86FC; 
  cursor: not-allowed;
}

audio {
  width: 100%; 
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(98, 0, 234, 0.5);
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.1);
      opacity: 0.7;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

button.recording {
  animation: pulse 1.5s infinite;
}

.features-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows cards to wrap onto the next line */
  gap: 20px;
  margin-top: 20px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  width: 200px; /* Sets a fixed width for each card */
}

.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 15px 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.feature-card h4 {
  /* color: #7437ca;
  color: #3700B3; */
  font-size: 16px;
  margin-bottom: 5px;
}

.feature-card p {
  font-size: 12px;
  color: #333;
  margin-top: 0;
}

.song-details {
  display: flex;
  align-items: first baseline;
  justify-content: center;
}

.song-details h2, .song-details p {
  margin: 0 5px; /* Adjust spacing as needed */
}

.song-title, .song-artist {
  font-size: 1.5rem; /* Example font size, adjust as needed */
  font-weight: 700;
  color: #e9593f; /* Example color */
}

.song-prefix {
  font-size: 0.9rem; /* Smaller text for 'Song recognized:' and 'by' */
  font-weight: bold;
  color: #ed6e58;
}

/* .error-message {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid orange;
  animation: typing 2s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50% { border-color: orange; }
}

.error-message {
  animation: typing 2s steps(40, end) forwards, blink-caret 0.75s 8 step-end;
} */

.error-message {
  margin: 30px 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #ed6e58; /* Initially show the cursor */
  animation: typing 3s steps(40, end) forwards, blink-caret 0.75s step-end 2s; /* Stop blinking after typing is done */
  font-family: monospace;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%; border-color: transparent; } /* Ensure border is transparent at the end */
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ed6e58 }
}


/* .error-message {
  color: #FFD2D2 !important;
  background-color:#e9593f;
  padding: 10px;
  margin: 30px 0;
  border-radius: 5px;
  animation: pulseError 3s infinite;
  font-size: 1.2rem;
  font-weight: 500;
}

@keyframes pulseError {
  0% { background-color: #FFD2D2; }
  50% { background-color: #FFBABA; }
  100% { background-color: #FFD2D2; }
} */
