.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  background-color: #f4f4f9;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90vh; */
  margin-top: 120px;
}

.main-func {
  display: flex;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin: 0 0 10px 0; */
  padding: 0;
}

h2 {
  color: #f15438;
}

.helper {
  /* background-color: #ed6e58; */
  /* margin-top: -46px; */
  font-size: 20px;
}

.gif {
  width: 75%;
  max-width: 400px;
  margin: 25px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* filter: drop-shadow(0 0 0.95rem #a859d28a); */
}

button {
  background-color: #7437ca;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 2;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  margin: 20px 0 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-recording, .recording {
  margin-bottom: 30px;
}

button:hover {
  background-color: #3700B3;
}

button:disabled {
  background-color: #BB86FC;
  cursor: not-allowed;
}

audio {
  width: 100%;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(98, 0, 234, 0.5);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

button.recording {
  animation: pulse 1.5s infinite;
}

.features-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
}

.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 15px 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feature-card h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.feature-card p {
  font-size: 12px;
  color: #333;
  margin-top: 0;
}

.song-details {
  display: flex;
  align-items: first baseline;
  justify-content: center;
}

.song-details h2,
.song-details p {
  margin: 0 5px;
}

.song-title,
.song-artist {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e9593f;
}

.song-prefix {
  font-size: 0.9rem;
  font-weight: bold;
  color: #ed6e58;
}

.error-message {
  margin: 30px 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #ed6e58;
  animation: typing 3s steps(40, end) forwards, blink-caret 0.75s step-end 2s;
  font-family: monospace;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%;
    border-color: transparent;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #ed6e58
  }
}

.app-header-container {
  width: 100%;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;  
  display: flex;
  justify-content: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  width: 75%;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.logo-container h1 {
  font-size: 20px;
  color: #333;
}

.navigation a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.navigation a:hover {
  color: #ed6e58;
}

.auth-buttons button {
  margin-left: 15px;
  padding: 0px 20px;
  background-color: #7437ca;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.auth-buttons button:hover {
  background-color: #3700B3;
}

.login-btn {
  background-color: #7437ca;
}

.auth-buttons button.signup-btn {
  background-color: #f4f4f914;
  border: 1px solid #7437ca;
  ;
  color: #7437ca;
}

.auth-buttons button.signup-btn:hover {
  border: 1px solid #3700B3;
  color: #3700B3;
}

footer {
  /* position: fixed;
  bottom: 0; */
  margin-top: 30px;
  color: #33333386;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  /* text-align: left; */
  font-size: 14px;
  border-top: 0.5px solid #ccc;
}

.footer-container p {
  margin: 5px 0;
}